<div class="row">
    <div class="col-sm-12">
        <form action="/search" method="gets">
            <div class="form-group">
                <label for="search-bar">Game Search</label>
                <input type="text" name="query" class="form-control" id="search-bar" placeholder="Title">
            </div>
            <div class="form-group">
            <button class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

<%if @products != nil && @products.length > 0 %>
    <% @products.each do |product| %>
        <div class="row">
            <div class="col-sm-12">
                <a href="/products/<%= product.id %>">
                    <h4 class="text-center"><%= product.title %></h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="/products/<%= product.id %>">
                    <img src="<%= product.med_img %>" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-sm-8">
                <p class="text-justify"><%= product.description%></p>
            </div>
        </div>
    <% end %>
<% elsif @products %>
    <div class="row">
        <div class="col-sm-12">
            <strong class="text-center">Sorry. No Games Match your search query.</strong>
        </div>
    </div>
<% end %>