<h3>
    Rate The <a href="/reviews/<%= @review.id %>">Review</a> of
    <a href="/products/<%= @review.product_id %>"><%= @review.product.title%> </a>
    by <%= @review.user.username %>
</h3>

<form action="/reviews/<%= @review.id %>/user_ratings" method="post">
    <div class="form-group">
        <label for="user_rating_body">Comments</label>
        <textarea  class="form-control" rows="4" name="user_rating[body]" id="user_rating_score" placeholder="Your thoughts."></textarea>
    </div>
    <div class="form-group">
        <label for="user_rating_score">Rate the Review</label>
            <select name="user_rating[rating_score]" id="user_rating_score">
                <% (1..10).each do |num| %>
                    <option value ="<%= num %>"><%= num %></option>
                <% end %>
            </select>
    </div>
    <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>
</form>