<h3><%= @product.title %></h3>
<p><%= @product.description %></p>


<a href="/products/<%= @product.id %>/reviews/new">
    Write a Review!
</a>


<% @reviews.each do |review| %>
    <div>
        <h4><%= review.title %></h4>
        <h5> by <%= review.user.email %></h5>
        <p><%= review.body %></p>
        <span><strong> <%= review.review_score %> </strong></span>
        <span><a href="/reviews/<%= review.id %>/user_ratings/new">Rate This Review</a></span>
    </div>
<% end %>