<h3> Edit Your Review of <%= @review.product.title %> </h3>
<form action="/reviews/<%= @review.id %>" method="post">
    <div class="form-group">
        <label for="review_title"> Review Title </label>
        <input type="text" class="form-control" value="<%= @review.title %>" name="review[title]" id="review_title">
    </div>
    <div class="form-group">
        <label for="review_body">Your Review</label>
        <textarea name="review[body]" rows="15" id="review_body" class="form-control"><%= @review.body %>
        </textarea>
    </div>
    <div class="form-group">
        <label for="review_score">Score</label>
        <select name="review[review_score]" id="review_score">
            <% (1..10).each do |num| %>
                <option value ="<%= num %>"><%= num %></option>
            <% end %>
        </select>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
        <button type="submit" class="btn btn-default">Save Changes</button>
    </div>
</form>

<div class="form-group">
    <label for="delete-button">Deletion is irreversible, make sure you this is what you want!</label>
    <a href="/reviews/<%= @review.id %>" class="btn btn-default form-control" data-method="delete" id="delete-button">Delete Review</a>
</div>