<h3 class="text-center"><%= @review.title %></h3>
<h4 class="text-center">
    Review of <%= @review.product.title %> by <%= @review.user.username%>.
</h2>

<article class="text-justify">
    <% review_lines = @review.body.split("\n") %>
    <% review_lines.each do |line| %>
        <%= line %>
        <br>
    <% end %>
</article>

<h4> Score: <%= @review.review_score %></h4>

<div>
    <a href="/products/<%= @review.product_id %>">
        More <%=@review.product.title%> Reviews
    </a>
</div>

<% if user_signed_in? && current_user.id == @review.user_id%>
    <div>
        <a href="/reviews/<%= @review.id %>/edit">Edit Your Review</a>
    </div>
<% end %>

<h4 class="text-center">User Ratings</h4>

<% unless user_signed_in? && (current_user.id == @review.user_id || @review.user_ratings.find_by(user_id: current_user.id) != nil)%>
    <div>
        <a href="/reviews/<%= @review.id %>/user_ratings/new">Rate This Review</a>
    </div>
<% end %>

<% if user_signed_in? && @review.user_ratings.find_by(user_id: current_user.id) != nil %>
    <div>
        <a href="/user_ratings/<%= @review.user_ratings.find_by(user_id: current_user.id).id%>/edit">Edit Your Rating of This Review</a>
    </div>
<% end %>

<dl>
    <% @review.user_ratings.each do |rating| %>
        <dt><%= rating.user.username %> - <%=rating.rating_score%></dt>
        <dd>
            <% rating_lines = rating.body.split("\n") %>
            <% rating_lines.each do |line| %>
                <%= line %>
                <br>
            <% end %>
        </dd>
    <% end %>
</dl>