<!DOCTYPE html>
<html>
<head>
  <title>You Rate It!</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container-fluid">
    <header class="row top-row outline-element">
        <h1 class="text-center">You Rate It!</h1>
    </header>

    <div class="row main-row">
        <div class="col-sm-8 col-sm-offset-2">
            <%= yield %>
        </div> <!-- main content column -->
        <div class="col-sm-2 nav-column">
            <% if user_signed_in? %>
                <div class="list-group-item user-welcome">
                    Welcome <%= current_user.username %>
                </div>
            <% end %>
            <div class="list-group">
                <% unless user_signed_in? %>
                    <a href="/users/sign_up/" class="list-group-item">Sign Up</a>
                    <a href="/users/sign_in/" class="list-group-item">Log In</a>
                <% else %>
                    <a href="/users/sign_out/" class="list-group-item" data-method="delete">Log Out</a>
                    <a href="/users/<%= current_user.id %>" class="list-group-item">View Your Profile</a>
                <% end %>
                    <a href="/products" class="list-group-item">Games</a>
                    <a href="/" class="list-group-item"> Home </a>
                    <a href="/users" class="list-group-item"> Users </a>
                    <a href="/search" class="list-group-item"> Search </a>
                    <a href="/about" class="list-group-item">About</a>
            </div>
        </div> <!-- nav-column -->
    </div><!-- main content row -->
</div> <!-- main container -->
</body>
</html>
